services:
  smb-guest-server:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: "smb-guest-server"
    volumes:
      - ./../data:/samba:ro
    restart: always
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "5m"
        max-file: "2"
